.get__image {
    width: 100%;
    margin: 220px 0 280px;
}

.get__container {
    max-width: 1200px;
    background-color: #F2F2F2;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
}

.get__title {
    padding-top: 63px;
    font-weight: 400;
    font-size: 46px;
    line-height: 51px;
    color: #000000;
}

.get__flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 10px;
}

.get__column {
    margin: 60px 0;
}

.get__column__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $primary;
}

.get__btn {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #46856E;
    border-radius: 2px;
    border: none;
    padding: 18px 22px;
    margin-bottom: 26px;
    transition: all .2s linear;

    &:hover {
        background-color: $second;
    }
}

.get__under__btn {
    font-size: 12px;
    line-height: 14px;
    color: $second;
    padding-bottom: 26px;
    margin-bottom: 80px;
}

@media (max-width: 991.99px){
    .get__image{
        margin: 20px 0 80px;
    }
}

@media (max-width: 767.98px) {
    .get__title{
        font-size: 30px;
        padding-top: 40px;
    }
}