.how__container {
    margin-top: 240px;
    max-width: 1200px;
}

.how__text {
    margin: 0 155px 25px;
    font-size: 46px;
    line-height: 52px;
    color: $second;
}

.how__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    color: #000000;
    margin: 0 155px 135px;
}

.how__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 64px;
}
.how__box__image {
    width: 100%;
}

.how__box__content {
    margin-left: 90px;
    margin-right: 110px;
}

.how__box__title {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 36px;
    color: $primary;
}

.how__box__text {
    font-size: 16px;
    line-height: 24px;
    color: $second;
}
@media (max-width: 991.99px) {
    .how__container {
        margin: 80px 0;
        min-width: 100%;
        width: 100%;
    }

    .how__text {
        margin: 0 20px 25px;
        text-align: center;
    }

    .how__title {
        margin: 0 40px 100px;
    }

    .how__box__content {
        margin: 0 40px;
    }

    .how__box__title {
        font-size: 44px;
    }

    .how__box__text {
        font-size: 22px;
    }
}

@media (max-width: 767.98px) {
    .how__text {
        font-size: 24px;
        line-height: 34px;
    }

    .how__title {
        font-size: 30px;
        line-height: 46px;
        margin: 0 10px 20px;
        text-align: center;
    }

    .how__box__content {
        margin: 0px 10px;
    }

    .how__box__image {
        object-fit: fill;
    }

    .how__box__title {
        margin-bottom: 6px;
        font-size: 26px;
        line-height: 26px;
    }

    .how__box__text {
        font-size: 16px;
        line-height: 20px;
    }

    .how__box__image {}
}

@media (max-width: 450.98px) {
    .how__box {
        align-items: start;
    }
}