body{
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

$primary: #1A1A1A;
$second: #AAAAAA;

@media (max-width: 991.99px) {
    .container{
        margin: 0 20px;
    }
}